[Unit]
Description=openedge static network configuration
Documentation=https://github.com/openedge
Before=network-online.target
Wants=network-pre.target
After=network-pre.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/openedge/configure-network.sh

[Install]
WantedBy=sysinit.target